[bastion]
pxc-bastion ansible_host=${bastion_public_ip} ansible_user=ubuntu ansible_ssh_private_key_file=${ssh_private_key}

[pxc]
%{ for name, ip in pxc_hosts ~}
${name} ansible_host=${ip}
%{ endfor ~}

[pxc:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=${ssh_private_key}
ansible_ssh_common_args='-o ProxyCommand="ssh -i ${ssh_private_key} -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -q ubuntu@${bastion_public_ip}"'
