digitalocean_token  = "<digitalocean-api-token>"
region              = "fra1"
admin_cidr          = "0.0.0.0/0"
project_id          = "<digitalocean-project-id>"
ssh_public_key_path = "~/.ssh/id_tassadar.pub"
